.weather-app {
  width: 100vw;
  min-height: 100vh;
  padding-top: 4rem;
  background: rgb(71, 71, 121);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-field {
  width: 60%;
  height: 40px;
  display: flex;
}

.search-field__input {
  border: none;
  padding: 0.3rem;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-basis: 85%;
  font: 1.3rem/1.2rem helvetica;
}

.search-field__btn {
  flex-basis: 15%;
  background: linear-gradient(45deg,#268ead, #22a9d2);
  opacity: 1;
  border-radius: 0.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  outline: none;
  transition: all 0.4s;
}

.search-field__btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.fa-search {
  font-size: 2rem;
  color: #ffffff;
}

.list {
  width: 60%;
  padding: 1rem;
  list-style: none;
}

.list__item {
  background: rgba(255, 255, 255, 1);
  border-radius: 0.3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 10px;
}

.list__link {
  text-decoration: none;
}

.list__title {
  margin-bottom: 0.5rem;
  color: rgb(46, 45, 46);
  text-transform: uppercase;
}

.list__text {
  letter-spacing: 2px;
  color: rgb(36, 33, 33);
}

@media screen and (max-width: 780px) {

   .search-field {
     width: 90%;
   }

   .list {
     width: 90%;
   }
}





